{% extends "::base.html.twig" %}

{% block title %}IutPlanningBundle:User:add{% endblock %}

{% block body %}
<h1>Ajout d'utilisateur</h1>
<form method="get" action="UsersController.php">
</form>
{% endblock %}
