{% extends "::base.html.twig" %}

{% block title %}IutPlanningBundle:Planifier:add{% endblock %}

{% block body %}
<h1>Ajout dans le planning</h1>

<form action="savePlanifier" method="post">
<fieldset>
<p>
Username : <input type=texte name="Username"/>
</p>

<p>
Activité : <input type=texte name="NameAct"/>
</p>

<p>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<datepicker type="grid" value="YYYY/MM/DD">
<script>
$(function() {
$( "#datepicker" ).datepicker();
$( "#datepicker" ).datepicker("option","dateFormat","yy-mm-dd");
});
</script>

<p>Date: <input type="text" name="Date" id="datepicker"></p>

<label for="Heure">Heure :</label>
<select name="Heure" id="heure">
<option value=8>8</option>
<option value=9>9</option>
<option value=10>10</option>
<option value=11>11</option>
<option value=12>12</option>
<option value=13>13</option>
<option value=14>14</option>
<option value=15>15</option>
<option value=16>16</option>
<option value=17>17</option>
<option value=18>18</option>
<option value=19>19</option>
<option value=20>20</option>
</select>
</p>

<br/>
<input type="submit" name="submit" value="valider"/>
</p>
</fieldset>
</form> 
</body>
</html>



{{msg}}
<p>
{{activite['idact']}}
</p>

{% endblock %}
